.content {
    width: 100%;
    min-height: 100vh; /* Use min-height para garantir que o conteúdo se ajuste ao tamanho necessário */
    display: block; /* Muda para block para evitar alinhamentos não desejados */
    padding: 2rem;
    background-color: rgb(214, 214, 214);
}

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}
form .form-control {
    max-width: 500px; /* Defina um valor que funcione bem para o layout */
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
}
